body {
  background-color: #272727;
  padding: 10px;
}

.display-text {
  color: #9CD9F0;
  white-space: pre-line; /* allow for `\n` new lines */
}

.text {
  position: relative;
  text-align: left;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
}

.divider {
    border-width: 10px;
    /* margin-left: 2em; */
    /* margin-right: 2em; */
}