body {
  background-color: #272727;
  padding: 10px;
}

.display-text {
  color: #9CD9F0;
  white-space: pre-line; /* allow for `\n` new lines */
}

.txInputElement {
  text-align: center;
}

.divider {
    border-width: 10px;
}

.ctrl-button:hover {
  background-color: #9CD9F0;
}

.ctrl-button {
  text-align: center;
}

#submitBtn:hover {
  background-color: #76f586;
}
